.block-justifier {
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.titre-compo {
  color: white;
  font-family: sans-serif;
  padding-top: 20%;
  align-self: center;
}
@media screen and (min-width: 0) and (max-width: 576px) {
  .titre-compo {
    color: white;
    font-family: sans-serif;
    padding-top: 20%;
    align-self: center;
    font-size: 1.5em;

    .tous {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    svg{
      height: max-content !important;
    }
  }
  
  
}
@media screen and (min-width: 577px) and (max-width: 1024px) {
  .titre-compo {
    color: white;
    font-family: sans-serif;
    padding-top: 20%;
    align-self: center;
    font-size: 3em;
  }

  .tous {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  svg{
    height: max-content !important;
  }
}

@media screen and (min-width: 1025px) {
  .tous {
    display: flex;
    justify-content: space-evenly;
  }
}