.block-justifier {
  background-color: #0f0f0f;
  padding: 0;
  margin: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.titre-compo {
  color: white;
  font-family: sans-serif;
  padding-top: 20%;
}

.tous {
  display: flex;
  justify-content: space-evenly;
}