.div_img 
{
    display : flex;
    justify-content: center;
}


img, video
{
    max-width: 1300px;
    height: auto;
}

.desc_img
{
    max-width: 1300px;
    height: auto;
    margin : auto;
    font-size : 30px;
    text-align: justify;
}

.leg_img
{
    color : gray;
    font-style: italic;
}