nav{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
}

.nav-flex{
  display: flex;
}

.nav-cat input[type=checkbox]{
  display: none;
}

.nav-cat label{
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  background-color: gold;
}

@media screen and (min-width: 980px){

  .logo{
    width: 5vw;
    margin-left: 1rem;
    margin-top: .5rem;
}



  
}


@media screen and (max-width: 980px){

  .logo{
    width: 20vw;
    margin-left: 1rem;
    margin-top: .5rem;
}

  
}