.entete{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}

.entete-h2{
    margin-top: 2rem;
    width: 80vw;
    text-align: center;
   
}
.entete-h1{
    width: 80vw;
    text-align: center;
    
}
