{% extends 'base.html' %}
{% block main %}

<div class="entete">
	<h1>{{ One.h1_art }}</h1>
	<h2>{{ One.chap_art }}</h2> 
</div>

{% if One.media_art is not empty %}
    
{% if 'jpg' in One.media_art %}
<div class="div_img">
<a href="media/img/{{ One.media_art }}" data-lightbox="1"><img src="media/img/{{ One.media_art }}" alt=""></a>
</div>

{% endif %}
{% if 'mp4' in One.media_art %}
<div class="div_img">
<video controls src="media/video/{{ One.media_art }}"></video>
</div>

{% endif %}
{% endif %}
{% if One.auteur_art is not empty %}   
<div class="desc_img">
	<p class="leg_img">{{ One.auteur_art }}</p>
</div>
{% endif %}

{% for type in compo %}

{% if type.st_comp is not empty %}    
<div class="div_compo">
	<div>
		<h3>{{ type.st_comp }}</h3>
	</div>
	
{% endif %}
{% if type.texte_comp is not empty %} 

	<p>{{ type.texte_comp }}</p> 
{% endif %}
{% if type.citation_comp is not empty %}


{% endif %}
{% if type.media_comp is not empty %}
{% if 'jpg' in type.media_comp %}
<div class="div_img">
    <img src="media/img/{{ type.media_comp }}" alt="">           
</div>
          

   
    {% endif %}
{% if 'mp4' in type.media_comp %}
<div class="div_img">
    <video controls src="media/video/{{ type.media_comp }}"></video>         
</div>

{% endif %}
    {% endif %}
    {% if type.auteur_comp is not empty %}
 <div class="auteur"> 
     <p>{{ type.auteur_comp }}</p>
 </div>  

        
    {% endif %}
	
{% endfor %}
	<footer>
	</footer>
	
{% endblock %}
	
