{% extends 'baseAdmin.html' %}
{% block admin %}
<!-- Formulaire pour insérer un article + sa compo -->
<!-- <form action="?page=insertout" method="post"> 
    <select name="compte" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="submit"> -->
    <h1>Insérez un article</h1>
    <div class="insert-flex">
        <div class="form-background">

            <form id="modimg" enctype="multipart/form-data" action="?page=insertout" method="post" class="form-flex">
    
                <select name="titre" id="">
                    {% for row in read %}         
                    <option value="{{ row.titre_art }}">{{ row.titre_art }}</option>
                    {% endfor %}
                </select>
                {% include 'insert.html' %}
              {# {% for i in 1.. compte %}
                    
                {% include 'insertcomp.html' %}
                {% endfor %}  #}
             
                <button type="submit" name="valide">Inserer l'article</button>
            </form>
            <form id="modimg" enctype="multipart/form-data" action="?page=insertout" method="post" class="form-flex">
                <select name="id_art" id="">
                    {% for row in titre %}         
                    <option value="{{ row.id_art }}">{{ row.h1_art }}</option>
                    {% endfor %}
                </select>
                {% include 'inscomp.html' %}
                {# {% for i in 1.. compte %}
                      
                  {% include 'insertcomp.html' %}
                  {% endfor %}  #}
               
                  <button type="submit" name="comp">Inserer la compo</button>
            </form>
    
        </div>
    </div>
    
    
{% endblock %}