<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/app.css">
	<link rel="stylesheet" href="../css/lightbox.css">
    <title>Justifier l'inconevable</title>
</head>

<body>
    <main class="block-justifier">
        <h1 class="titre-compo">Justifier l'inconevable</h1>
        <script>
            let articles = {{ list | raw }};
        </script>
        <div class="tous">
            <svg height="210" width="500">
                <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
              </svg>
        </div>
    </main>
    <script type="text/javascript" src="../JS/justifier.js"></script>
</body>
