{% extends 'base.html' %}
{% block main %}
<div class="flex-centre">
    <p style="text-align:center"><span style="background-color:rgb(211, 211, 211)">Si vous utilisez nos Mentions Légales, vous vous engagez à laisser les liens </span><strong><span style="background-color:rgb(211, 211, 211)">Crédit sans en modifier ni les liens ni les ancres.</span></strong><span style="background-color:rgb(211, 211, 211)"> </span></span><br />
        <span style="background-color:rgb(211, 211, 211)">Par avance merci pour votre compréhension et le respect du travail effectué par toute l'équipe</span></span></p>
        
        <h1>MENTIONS LEGALES :</h1>
        
        <p style="text-align:justify"><strong> </strong><br />
        Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://violence.caquelin.etu.mmi-unistra.fr/mention" target="_blank">violence.caquelin.etu.mmi-unistra.fr/mention</a> les informations suivantes :</p>
        
        <p style="text-align:justify"><strong>ÉDITEUR</strong></p>
        
        <p style="text-align:justify">Le site <a href="http://violence.caquelin.etu.mmi-unistra.fr/mention" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, " target="_blank">violence.caquelin.etu.mmi-unistra.fr/mention</a> est la propriété exclusive de <strong>IUTIUT </strong><strong>Apple</strong>, qui l'édite.</p>
        
        <p style="text-align:justify"><strong>Apple</strong><strong> </strong><br />
        <strong>IUTIUT </strong>au capital de<strong> </strong><strong>1000000000000? </strong>€Tél  : <strong>0658670288</strong></p>
        
        <p style="text-align:justify"><strong>1 rue du juif </strong><strong>67500 Haguenau</strong><br />
        Immatriculée au Registre du Commerce et des Sociétés de  <strong>3245U </strong>sous le numéro<strong> </strong><strong>1234567890</strong><strong> </strong></p>
        
        <p style="text-align:justify">Numéro TVA intracommunautaire : <strong>246</strong><br />
        Adresse de courrier électronique : <strong>9f12cf9e1f@firemailbox.club</strong> <br />
         <br />
        Directeur de la  publication : <strong>Jeanne</strong><br />
        Contactez le responsable de la publication : <strong>david@gmail.com</strong></p>
        
        <p style="text-align:justify"> </p>
        
        <p style="text-align:justify"><strong>HÉBERGEMENT</strong></p>
        
        <p style="text-align:justify">Le site est hébergé par <strong>Trishna Govind wordpressent.fr 34500 Tortue Grimpas</strong><br />
        <u><strong>CREDITS :</strong></u> les mentions légales ont étés générées par <strong><a href="https://www.generer-mentions-legales.com">mentions légales</a></strong><br />
        Horaires de la <strong><a href="http://www.patinoire.biz/p+patinoire-de-lyon---charlemagne+113.html">Patinoire Lyon</a></strong></p>

</div>

{% endblock %}