<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/app.css">
	<link rel="stylesheet" href="../css/lightbox.css">
    <title>Passé sous silence</title>
</head>

<body>
    <main class="block-justifier">
        <h1 class="titre-compo">Passé sous silence</h1>
        <script>
            let articles = {{ list | raw }};
        </script>
        <div class="tous">
            
        </div>
    </main>
    <script type="text/javascript" src="../JS/silence.js"></script>
</body>