<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/app.css">
	<link rel="stylesheet" href="../css/lightbox.css">
    <title>Sous surveillance</title>
</head>

<body onresize="boucle()">
    <main class="block-justifier">
        <h1 class="titre-compo">Sous surveillance</h1>
        <script>
            let articles = {{ list | raw }};
        </script>
        <div class="tous">
            
        </div>
    </main>
    <script type="text/javascript" src="../JS/boucle.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</body>