.flex{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.carte-article{
    width: 50vw;
    height: fit-content;
}

.carte-content{
    padding: 3rem;
}

.carte-article-texte{
    background-color: grey;
    height: fit-content; 
}

.carte-link{
    background-color: rgb(95, 0, 0);
}