.flex{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.carte-article{
    width: 50vw;
    height: fit-content;
    border-radius: 3rem;
}

.carte-content{
    padding: 3rem;
}

.carte-article-texte{
    background-color: grey;
    height: fit-content; 
}

.carte-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.button-article{
    width: fit-content;
    border-radius: 2rem;
    height: fit-content;
    background-color: red;
}
