<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="?page=insertout">insert</a>
            <a href="?page=del">del</a>
            <a href="?page=mod">mod</a>
        </nav>
    </header>
    {% block admin %}
    {% endblock %}
    <footer>
        
    </footer>
    <script type="text/javascript" src="JS/main.js"></script>
</body>
</html>