<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="admin-nav">
                <a href="insert">insérer</a>
                <a href="delete">supprimer</a>
                <a href="update">modifier</a>
                <a href="user">utilisateur</a>
                <a href="index.php">accueil</a>
        </nav>
    </header>
    {% block admin %}
    {% endblock %}
    <footer>
        
    </footer>
    <script type="text/javascript" src="JS/main.js"></script>
</body>
</html>