<!-- Formulaire connexion user -->
<div class="flex-centre">
    <form action="?page=login" method="post" class="connexion">
        <fieldset class="form-co">
            <h2 class="form-pad">Connexion</h2>
            <label class="form-pad" for="">Pseudo :<input type="text" name="lpseudo"></label>
            <label class="form-pad" for="">Mot de passe : <input type="password" name="lmdp"></label>
            <a  class="form-pad"href="">Mot de passe oublié ?</a>
            <input type="submit" name="log" id="">
        </fieldset>
    </form>
</div>


{{ feedback }}
