<!-- Formulaire connexion user -->
<div class="flex-centre">
    <form action="?page=login" method="post" class="connexion">
        <fieldset>
            <legend>Connexion</legend>
            <label for="">Pseudo :<input type="text" name="lpseudo"></label>
            <label for="">Mot de passe : <input type="password" name="lmdp"></label>
            <a href="">Mot de passe oublié ?</a>
            <input type="submit" name="log" id="">
        </fieldset>
    </form>
</div>


{{ feedback }}
