<div class="flex-centre">
    <form action="?page=register" method="post" class="connexion">
        <fieldset class="from-co">
            <h2 class="form-pad">Inscription</h2>
            <label class="form-pad" for="">Pseudo : <input type="text" name="pseudo"></label>
            <label class="form-pad" for="">Mail : <input type="mail" name="mail"></label>
            <label class="form-pad" for="">Mot de passe : <input type="password" name="mdp"></label>
            <label class="form-pad" for="">Confirmation : <input type="password" name="cmdp"></label>
            <input type="submit" name="reg">
        </fieldset>
    </form>
</div>


{{ feedback }}
