
    <fieldset>
        <legend>Votre Article : </legend>
        <input type="hidden" name="MAX_FILE_SIZE" value="4000000" />
        <label>Transfèrer le fichier </label>
        <input class="fich" type="file" name="media_comp" /> <br>
        <label>Titre de la compo</label><input type="text" name="st_comp">
        <label>Auteur de la compo</label><input type="text" name="auteur_comp">
        <label>Citation</label><input type="text" name="citation_comp">
        <label>texte composition</label><textarea name="texte_comp" id="" cols="30" rows="10"></textarea>
    </fieldset>