<!-- Formulaire Article -->

    <fieldset class="form-flex-column">
        <input class="form-pad" type="hidden" name="MAX_FILE_SIZE" value="4000000" />
        <label class="form-pad">Transfèrer le fichier </label>
        <input class="fich form-pad" type="file" name="monfichier" /> <br>
        <label class="form-pad">Titre de l'article</label><input class="form-pad" type="text" name="h1_art">
        <label class="form-pad">Chapeau de l'article</label><input class="form-pad" type="text" name="chap_art">
        <label class="form-pad">Auteur de l'image / vidéo</label><input class="form-pad" type="text" name="auteur_art">
        <label class="form-pad">paragraphe</label> <textarea class="form-pad"name="para_art" id="" cols="30" rows="10"></textarea>
    </fieldset>
