<!-- Formulaire compo -->
{% block main %}
    <fieldset>
        <legend>Composition de votre article</legend>
        <input type="hidden" name="MAX_FILE_SIZE" value="4000000" />
        <label>Transfèrer le fichier </label>
        <input class="fich" type="file" name="media_comp" /> <br>
        <label>Sous-titre</label><input type="text" name="st_comp">
        <label>Texte de l'article : </label><input type="text" name="texte_comp">
        <label>Citation</label><input type="text" name="citation_comp">
        <label>Nom de l'auteur de l'article</label> <input type="text" name="auteur_comp">
        <select name="id_art" id="">
            <option value="{{ total }}">Article Actuel </option>
            {% for row in menu %}
            <option value="{{ row.id_art }}">{{ row.h1_art }}</option>
            {% endfor %}
        </select>
    </fieldset>    
{% endblock %}