<!-- Formulaire compo -->
{% block main %}
    <fieldset class="form-flex-column">
        <input class="form-pad" type="hidden" name="MAX_FILE_SIZE" value="4000000" />
        <label class="form-pad">Transfèrer le fichier </label>
        <input class="fich" type="file" name="media_comp" /> <br>
        <label class="form-pad">Sous-titre</label><input class="form-pad" type="text" name="st_comp">
        <label class="form-pad">Texte de l'article : </label><input class="form-pad" type="text" name="texte_comp">
        <label class="form-pad">Citation</label><input class="form-pad" type="text" name="citation_comp">
        <label class="form-pad">Nom de l'auteur de l'article</label> <input class="form-pad" type="text" name="auteur_comp">
        <select name="id_art" class="form-pad" id="">
            <option value="{{ total }}">Article Actuel </option>
            {% for row in menu %}
            <option value="{{ row.id_art }}">{{ row.h1_art }}</option>
            {% endfor %}
        </select>
    </fieldset>    
{% endblock %}