<!-- Formulaire update Article -->
<form action="?page=mod" method="post" class="form-flex">
    <select name="coole" id="">
        {% for row in read %}         
        <option value="{{ row.titre_art }}">{{ row.titre_art }}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

<!-- <form action="?page=mod" method="post"> -->

{% for type in list %}
<form action="?page=mod" method="post" class="form-flex">
<h1 class="parag" name="titre">{{ type.h1_art }} </h1> 
<h2 class="parag" name="chap">{{ type.chap_art }}</h2> 
<p class="parag" name="auteur">{{ type.auteur_art }}</p>
<p class="parag" name="para">{{ type.para_art }}</p>
<p class="type" name="type" >{{ type.titre_art }}</p>
<span class="modifier" onclick="modify(this)" >Modifier</span>
<button class="valider" name="id" value="{{ type.id_art }}" >Valider</button>
</form>
{% endfor %}
    
