<!-- Formulaire update Article -->
<form action="?page=mod" method="post">
    <select name="coole" id="">
        {% for row in read %}         
        <option value="{{ row.titre_art }}">{{ row.titre_art }}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

<!-- <form action="?page=mod" method="post"> -->

{% for type in list %}
<h1 class="parag">{{ type.h1_art }} </h1> 
<h2 class="parag">{{ type.chap_art }}</h2> 
<p class="parag">{{ type.auteur_art }}</p>
<p class="parag">{{ type.para_art }}</p>
<p class="parag">{{ type.titre_art }}</p>
<button class="modifier">Modifier</button>
<button class="valider">Valider</button>

{% endfor %}
    





































    <fieldset>
        <legend>Modifier un artcile</legend>
        <select name="titre" id="">
            {% for row in read %}         
            <option value="{{ row.titre_art }}">{{ row.titre_art }}</option>
            {% endfor %}
        </select>
        <select name="id_art_update" id="">
            {% for row in menu %}
            <option value="{{ row.id_art }}">{{ row.h1_art }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="MAX_FILE_SIZE" value="4000000" />
        <label>Transfèrer le fichier </label>
        <input class="fich" type="file" name="monfichier" /> <br>
        <label>Titre de l'article</label><input type="text" name="h1_art">
        <label>Chapeau de l'article</label><input type="text" name="chap_art">
        <label>Auteur de l'image / vidéo</label><input type="text" name="auteur_art">
        <textarea name="para_art" id="" cols="30" rows="10"></textarea>
<!-- Formulaire update composition -->
        




<legend>Modifier votre composition</legend>
        <select name="" id=""><option value=""></option></select>
        <input type="hidden" name="MAX_FILE_SIZE" value="4000000" />
        <label>Transfèrer le fichier </label>
        <input class="fich" type="file" name="media_comp" /> <br>
        <label>Sous-titre</label><input type="text" name="st_comp">
        <label>Texte de l'article : </label><input type="text" name="texte_comp">
        <label>Citation</label><input type="text" name="citation_comp">
        <label>Nom de l'auteur de l'article</label> <input type="text" name="auteur_comp">
        <select name="id_art" id="">
            {% for row in menu %}
            <option value="{{ row.id_art }}">{{ row.h1_art }}</option>
            {% endfor %}
        </select>
        <select name="id_art" id="">
            {% for row in menu %}
            <option value="{{ row.id_art }}">{{ row.h1_art }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <input type="submit" name="up">
</form>